MONGODB_URL =

ClOUDINARY_CLOUD_NAME=
ClOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET_KEY=

JWT_REFRESH_SECRET=

NODE_ENV=
# EMail
EMAIL_HOST =
EMAIL_PORT =
EMAIL_USER =
EMAIL_PASS =
EMAIL_FROM =

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

